.container__main__register {
  width: 550px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: 1px solid white;
  border-radius: 10px;
}
.container__main__register__text {
  text-align: center;
}
